<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tracnghiem.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizForFun">
        <activity android:name="com.tracnghiem.project.GeographyOrLiteratureQuizActivity"></activity>
        <activity android:name="com.tracnghiem.project.FinalResultActivity" />
        <activity android:name="com.tracnghiem.project.MathQuizActivity" />
        <activity android:name="com.tracnghiem.project.EditPasswordActivity" />
        <activity android:name="com.tracnghiem.project.HistoryActivity" />
        <activity android:name="com.tracnghiem.project.RuleActivity" />
        <activity android:name="com.tracnghiem.project.QuizOptionActivity" />
        <activity android:name="com.tracnghiem.project.RegisterActivity" />
        <activity
            android:name="com.tracnghiem.project.LoginActivity"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tracnghiem.project.MainActivity" />
    </application>

</manifest>